.questionElement {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
.answerElement {
  width: 100%;
  padding: 0 10px;
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s, max-height 0.3s, padding 0.3s;
}
.showAnswer {
  padding: 10px;
  max-height: 200px;
  opacity: 1;
}
